header {
    background-color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #ddd;
    position: relative; 
}

header h1 {
    color: red;
    font-size: 32px;
    margin-left: 20px;
}

nav {
    position: absolute; 
    top: 20px; 
    right: 20px; 
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
}

nav ul li {
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

